<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="jumbotron">
            <form action="/mascotas" method="post">
                <ul>
                 <li>
                   <label for="name">Nombre:</label>
                   <input type="text" id="name" name="Name">
                   <button type="submit">Enviar</button>
                 </li>
                </ul>
               </form>
            <% nombre.forEach(function(Mascotas){ %>
                <h2>
                    <%=Mascotas.Name%>
                </h2>
                <% })%>

        </div>
    </main>

</body>

</html>